body {
	font-family: 'Open Sans', sans-serif;
	margin: 1em;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
  	justify-content: space-around;
}

table {
	margin-top: 5em;
}

.h1 {
	position: absolute;
	text-align: center;
}

.red {
	background-color: #DB7093;
}
.yellow {
	background-color: #FFD700;
}
.blue {
	background-color: #00BFFF;
}

.row {
	margin: 0;
	padding: 0;
	position: relative;
}

.name {
	float: left;
	top: 0;
  	font-size: 50px;
  	margin-right: 1em;
}

.number {
	float: right;
	right: 0;
	font-size: 40px;
	margin-left: 0.9em;
}

.full_name {
	float: left;
	bottom: 0;
	font-size: 20px;
	margin-right: 4em;
}

.massa {
	float: right;
	bottom: 0;
	margin-left: 4em;
	font-size: 20px;
}
.massa2 {
	font-size: 20px;
	float: left;
	bottom: 0;
	margin-right: 4em;
}